# One-time Tencent Cloud deploy config
TCLOUD_HOST=49.233.148.151
TCLOUD_USER=root
TCLOUD_BRANCH=main
TCLOUD_SSH_PORT=22
TCLOUD_IDENTITY=/Users/chenyongnuan/.ssh/id_rsa
TCLOUD_REMOTE_DIR=/opt/device-app
